<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script src="/static/js/search.js"></script>
        <title>Blog Search</title>
    </head>

    <body>
        <div class="callout large">
            <div>
                <h1 id="title">blog search</h1>
                <div id="search-container">
                    <div>Search Wordpress</div>
                    <div class="row">
                        <input type="text" class="form-control" placeholder="keyword" id="keyword" >
                    </div>
                </div>


            </div>
        </div>

        <div id="content"></div>
    </body>
</html>